.App {
  width: 100%;
}

.display {
  display: grid;
  grid-template-columns: auto auto auto;
}

.center {
  margin: 0 auto;
}

.centerText {
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .App {
    width: 100%;
    margin: 5% auto 2% auto;
  }
  .displayMobile {
    margin: 5% auto;
  }
  .mobileContentCenter {
    text-align: center;
  }
  .mobileCenter {
    margin: 0 auto;
  }
}

.Ok {
  transition: 0.3s linear;
  min-width: 400px;
}

.Ok:hover {
  filter: grayscale(0);
  transform: scale(1.05);
}

.img {
  filter: brightness(1);
  transition: 0.3s linear;
}

.img:hover {
  filter: brightness(0.85);
}

.control {
  margin: 0 auto;
}

.navbar {
  min-height: 90px;
}